@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PUTasmus</h1>
    <p class="lead">Erasmus+ web by students, for students</p>
    <p><a href="https://put.poznan.pl/" class="btn btn-primary btn-lg">PUT web &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Needs before erasmus</h2>
        <p>
        Requirments and documentation that the students needs before the erasmus+ movility.
        </p>
        <p><a class="btn btn-default" href="https://www.etsisi.upm.es/sites/default/files/tramites_erasmus_version_2_1.pdf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Needs during erasmus</h2>
        <p>Documentation that the students have to send during the erasmus+ movility</p>
        <p><a class="btn btn-default" href="https://www.etsisi.upm.es/sites/default/files/tramites_erasmus_version_2_1.pdf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Needs after erasmus</h2>
        <p>Documentation and requirments after the erasmus+ movility</p>
        <p><a class="btn btn-default" href="https://www.etsisi.upm.es/sites/default/files/tramites_erasmus_version_2_1.pdf">Learn more &raquo;</a></p>
    </div>
</div>