@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PUTasmus</h1>
    <p class="lead">Erasmus+ web by students, for students. Start creating your own Learning Agreement using our web tool.</p>
    <p>@Html.ActionLink("Browse Degrees »", "Index", "Degrees", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
    

</div>

<div class="row">
    <div class="col-md-4">
        <h2>FAQ</h2>
        <p>
        Frequently asked questions about erasmus+ movility.
        </p>
        <p><a class="btn btn-default" href="https://put.poznan.pl/en/erasmus-outgoing/internships/faq">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Erasmus Survival Guide</h2>
        <p>Guide with tips, information and requirments about erasmus+ movility.</p>
        <p><a class="btn btn-default" href=" https://www.uskatowice.esn.pl/sites/default/files/pages/erasmus-survival-guide_-_version_07.01.pdf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Info</h2>
        <p>Find more information on the official PUT website.</p>
        <p><a class="btn btn-default" href="https://put.poznan.pl">Learn more &raquo;</a></p>
    </div>
</div>